body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

#game-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

#score-board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

#start-button {
    background-color: #28a745;
}

#start-button:hover {
    background-color: #218838;
}

#game-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.square {
    flex: 1;
    margin: 5px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.square:active {
    background-color: #666;
}

#game-area.grid-2 {
    display: flex;
    flex-direction: column;
}

#game-area.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#game-area.grid-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.square img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.square.disabled {
    pointer-events: none;
    background-color: #666;
}

/* Classes para rotação das setas */
.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

#custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E1E1E;
    color: #fff;
    border: 1px solid #333;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#custom-alert button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 5px 0 5px;
}

#custom-alert button:hover {
    background-color: #45a049;
}

#custom-alert-buttons {
    display: flex;
    justify-content: space-between;
}

#about-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #2C2C2C;
    color: white;
    border-radius: 10px;
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #ffcc00;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

p {
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 1.6;
    animation: fadeIn 1.2s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-size: 1.1em;
    text-align: left;
    animation: fadeIn 1.4s ease-in-out;
}

ul li {
    margin-bottom: 10px;
}

a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: slideIn 1.2s ease-in-out;
}

a.button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.credits {
    margin-top: 40px;
    font-size: 1.1em;
    color: #ccc;
    animation: fadeIn 1.6s ease-in-out;
}

.credits h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #ffcc00;
}

.developers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.developer-name {
    font-weight: bold;
    font-size: 1.3em;
    color: #ffffff;
    margin: 10px 20px;
    transition: color 0.3s ease;
    animation: fadeIn 1.8s ease-in-out;
}

.developer-name:hover {
    color: #007bff;
}

@media screen and (max-width: 600px) {
    #about-container {
        padding: 20px;
        margin: 30px auto;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    ul {
        font-size: 0.9em;
        text-align: left;
        margin-left: 0;
        padding-left: 20px;
    }

    a.button {
        padding: 12px 24px;
        font-size: 1em;
    }

    .credits {
        margin-top: 30px;
        font-size: 0.9em;
    }

    .credits h2 {
        font-size: 1.5em;
    }

    .developer-name {
        font-size: 1.1em;
        margin: 10px 15px;
    }
}